.main {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 48px;
}

.link {
  display: inline-block;
  color: #f90808;
  transition: all 0.15s ease-in-out;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0.3rem;
    background-color: #f90808;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    color: #f90808;

    &::after {
      width: 100%;
    }
  }
}
